<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<body>
    <h2> Dispatch: </h2>
     {{ data1 }}
     {{ div_placeholder1A }}
     {{ div_placeholder1B }}
     {{ div_placeholder1C }}
     {{ div_placeholder1D }}
     {{ div_placeholder1E }}
     {{ div_placeholder2A }}
     {{ div_placeholder2B }}
     {{ div_placeholder2C }}
     {{ div_placeholder2D }}
     {{ div_placeholder2E }}
     {{ div_placeholder3A }}
     {{ div_placeholder3B }}
     {{ div_placeholder3C }}
     {{ div_placeholder3D }}
     {{ div_placeholder3E }}
     {{ data2 }}
     {{ div_placeholder2 }}
     {{ data3 }}
     {{ div_placeholder3 }}
     {{ data4 }}
     {{ div_placeholder4 }}
</body>
</html>