<!DOCTYPE html>
<html>

<head lang="en">
    <meta charset="UTF-8">
    <title>{{ title }}</title>
</head>
<style type="text/css">
body {
   margin: -0px 0;
}
</style>
<body>
    <h2> Dispatch: </h2>
     {{ data1 }}
     {{ div_placeholder1A }}
     {{ div_placeholder1C }}
     {{ div_placeholder1D }}
     {{ div_placeholder1E }}
     {{ data2 }}
     {{ div_placeholder2 }}
     {{ data3 }}
     {{ div_placeholder3 }}
     {{ data4 }}
     {{ div_placeholder4 }}
</body>
<body>
     {{ div_placeholder1B }}
</body>
</html>